body {
  margin: 0;
  background: #fbf9f4;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page2buttons {
  display: flex;
  gap: 25px;
  padding: 90px 12px;
}

.but1,
.but2,
.but3,
.but4 {
  font-size: 15px;
  font-family: initial;
  background-color: #fbf9f4;
  color: #3c101e;
  white-space: nowrap;
  min-width: auto;
  border: 1.3px solid #3c101e;
  border-radius: 8px;
  padding: 8px 13px;
  position: relative;
  z-index: 2;
  cursor: pointer;

  transition: 0.4s ease;
}

.but1:hover,
.but2:hover,
.but3:hover,
.but4:hover {
  background: #3e1622ed;
  color: #fbf9f4;
}

.but1:active,
.but2:active,
.but3:active,
.but4:active {
  background: #fbf9f4;
  color: #3c101e;
}

.img1 {
  position: relative;
  width: 100%;
  height: 400px;
  max-height: 400px;
  min-height: 200px;
  margin-top: 20px;
}

.img1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; 
}

.scroll-container {
  margin-top: 0;
  margin-bottom: 50px;
  width: 100%;
  overflow: hidden;
  background-color: rgb(60, 16, 30);
}

.scrolling-text {
  display: inline-block;
  white-space: nowrap;
  color: white;
  font-size: 24px;
  padding-left: 100%;
  animation: scroll-left 35s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.ads {
  display: flex;
  flex-direction: column;
  width: calc(100% - 48px);
  background-color: rgb(60, 16, 30);
  color: #ffffff;
  font-size: larger;
  padding: 50px 24px;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;

  position: relative;

  box-sizing: inherit;
}

header {
  margin: 0;
  padding: 20px 60px;
  box-sizing: border-box;

  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  background: rgba(118, 13, 13, 0.886);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}
.hero-section {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 20px; 
}

.hero-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: transform 0.5s ease;
}

.hero-section:hover img {
  transform: scale(1.05); /* թեթև zoom on hover */
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* կենտրոնացում */
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  font-family: 'Times New Roman', serif;
}

.section-title {
  text-align: center;
}

.logo {
  font-size: 24px;
  color: #e3cb98;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
}

/*carts*/

.wrapp {
  display: flex;
  width: 70%;
  justify-content: space-around;
}
.card {
  width: 280px;
  height: 360px;
  padding: 2rem 1rem;
  background: #fff;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
.card:hover {
  transform: translateY(20px);
}
.card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 176, 155, 0.5),
    rgba(150, 201, 61, 1)
  );
  z-index: 2;
  transition: 0.5s all;
  opacity: 0;
}
.card:hover::before {
  opacity: 1;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}

.card .info {
  position: relative;
  z-index: 3;
  color: #fff;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}

.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}

.card .info h1 {
  margin: 0;
}

.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-bottom: 20px;
}

.card .info .btn0 {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #fff;
  color: #000;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}

.card .info .btn0:hover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}

.box {
  margin-top: 100px;

  table {
    margin-bottom: 80px;
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 5px 10px #500c20ed;
    border-radius: 10px;
  }

  th,
  td {
    font-family: Arial;
    border: 1px solid #540e24ed;
    padding: 12px;
    text-align: center;
  }

  th {
    font-family: Arial;
    background: #540e24ed;
    color: white;
  }

  tr:nth-child(even) {
    background: #ffffffdc;
  }
}

/*footer*/
.site-footer {
  width: calc(100% - 40px);
  margin-top: 30px;
  background-color: #f8f8f8;
  font-family: Arial, sans-serif;
  color: #ffffff;
  padding: 30px 20px;
}

.footer-top {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 13%;
}

.footer-column h4 {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: bold;
}

.footer-column a {
  display: block;
  text-decoration: none;
  color: #cbcaca;
  margin-bottom: 8px;
  font-size: 14px;
}

.footer-column a:hover {
  color: #000000;
}

.footer-social a {
  margin-right: 15px;
  font-size: 14px;
  text-decoration: underline;
}

.footer-bottom {
  border-top: 1px solid #ddd;
  padding-top: 18px;
  text-align: center;
  font-size: 13px;
  color: #e4e4e4;
}

.footer-bottom .legal-links a {
  margin: 0 12px;
  text-decoration: none;
  color: #c6c5c5;
}

.footer-bottom .legal-links a:hover {
  text-decoration: underline;
}

.footer-text {
  text-align: center;
  font-size: 14px;
  margin: 10px 0;
}
