* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins';
  color: white;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: rgb(170, 143, 231);
}

.container {
  position: relative;
  width: 750px;
  height: 450px;
  border: 2px solid rgba(147, 15, 81, 0.886);
  box-shadow: 0 0 25px rgba(147, 15, 81, 0.886);
}
.container .form-box {
  position: absolute;
  padding-left: 20px;
  top: 0;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.form-box {
  position: relative; 
}


.form-box.Login {
  left: 0;
  padding: 0 20px;
}


.close-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 22px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  z-index: 100;
  transition: transform 0.2s ease, color 0.2s ease;
}

.close-btn:hover {
  transform: scale(1.15);
  color: rgba(147, 15, 81, 0.886);
}

.form-box h2 {
  font-size: 32px;
  text-align: center;
}

.form-box .input-box {
  position: relative;
  width: 100%; 
  height: 50px; 
  margin-top: 25px;
}
.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 14px;
  color: white;
  font-weight: 600; 
  border-bottom: 2px solid white;
  padding-right: 23px;
}
.input-box input:focus,
.input-box input:valid {
  border-bottom: 2px solid rgba(147, 15, 81, 0.886);
  transition: 0.5s;
}
.input-box label {
  position: absolute; 
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 16px;
  color: rgb(255, 255, 255);
  transition: 0.5s;
}
.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
  color: rgba(147, 15, 81, 0.886);
}
.input-box i {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 18px;
  transform: translateY(-50%);
}
.input-box input:focus ~ i,
.input-box input:valid ~ i {
  color: rgba(147, 15, 81, 0.886);
  transition: 0.5s;
}

.btn {
  position: relative;
  width: 100%;
  height: 40px;
  border-radius: 50px;
  background: transparent;
  font-size: 16px; 
  font-weight: 600; 
  cursor: pointer;
  border: 2px solid rgba(147, 15, 81, 0.886);
  overflow: hidden;
  z-index: 1;
}
.btn::before {
                
  content: ''; 
  position: absolute;
  height: 300%;
  width: 100%;
  background: linear-gradient(#25252b, #ff2770, #25252b, #ff2770);
  top: -100%;
  left: 0;
  z-index: -1; 
  transition: 0.5s;
}
.btn:hover:before {
  top: 0;
}
.regi-link {
  font-size: 14px;
  text-align: center;
  margin: 20px 0 10px;
}
.regi-link a {
  text-decoration: none; 
  font-weight: 600;
  color: rgba(147, 15, 81, 0.886);
}
.regi-link a:hover {
  text-decoration: underline;
  transition: 0.5s;
}
.info-content {
  width: 50%; /* container-ի կեսը */
  height: 100%;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
